---
import { Image } from 'astro:assets';

import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Typewriter from '~/components/widgets/Typewriter.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import heroImage from '../assets/images/hero.svg';
import resourceGraph from '../assets/images/resource-graph-3-2.svg';
import { requestDemoUrl } from '~/navigation';

const metadata = { title: 'Archodex — Prevent DevSecOps Outages', ignoreTitleTemplate: true };

const annoyances = ['Blocking', 'Pestering', 'Proxying', 'Hounding', 'Annoying'];

const enablements = ['Enabling', 'Accelerating', 'Empowering', 'Fueling'];
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    title="Accelerate AI Development"
    subtitle="Turn-key Compliance and Security for AI Workloads."
    image={{
      src: resourceGraph,
      alt: 'Graph of resources and their relationships',
      height: 400,
      fetchPriority: 'high',
    }}
    actions={[{ text: 'Request Demo', href: requestDemoUrl }]}
  />

  <!-- Problem Section *************** -->

  <Steps
    id="problem"
    title="Accelerate AI by Enabling Dev Teams"
    items={[
      {
        title: 'Install Archodex',
        description:
          'Archodex uses Zero-Instrumentation approaches. No need to modify application code. No network proxies.',
        icon: 'tabler:label',
      },
      {
        title: 'Capture All AI, Including Shadow AI',
        description: 'Archodex automatically captures all AI-related activity, including shadow AI.',
        icon: 'tabler:list-search',
      },
      {
        title: 'Security: Uniform Audit Logging',
        description: 'Archodex emits uniform AI audit logs to your logging platform of choice.',
        icon: 'tabler:file-text-shield',
      },
      {
        title: 'Compliance: Data Protection',
        description: 'PII anonymization for analytics and OpenTelemetry flows.',
        icon: 'tabler:rosette-discount-check',
      },
      {
        title: 'Product: Iterate and Ship Faster',
        description: 'Safer usage analysis, increased data access, and more.',
        icon: 'tabler:flame',
      },
    ]}
    classes={{ container: 'max-w-3xl', items: { icon: 'text-secondary border-secondary' } }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-primary/5 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <!-- Solution Section *************** -->

  <Hero>
    <Fragment slot="content">
      <div class="overlay py-10 md:py-0 md:min-h-[400px]">
        <div class="md:top-[50%] md:translate-y-[-50%] text-left text-5xl/14 font-semibold md:absolute z-10">
          Stop
          <span class="text-primary highlight">
            <Typewriter words={annoyances} duration={3} />
          </span>
          <br />
          Start
          <span class="text-secondary highlight">
            <Typewriter words={enablements} duration={3} />
          </span>
          <br />
          AI Teams
        </div>

        <div class="hidden md:block">
          <Image src={heroImage} alt="A graph of calls out to various AI services" class="w-full" />
        </div>
      </div>
    </Fragment>
  </Hero>

  <!-- Use Cases Section *************** -->

  <Features2
    classes={{ items: { icon: 'text-secondary border-secondary' } }}
    items={[
      {
        title: 'Capture Shadow AI',
        description: 'Know when developers use unapproved AI services, audit for data leakage.',
        icon: 'tabler:spy',
      },
      {
        title: 'Compliance and Governance',
        description: 'Ensure security and data protection across all workloads. Accelerate ISO 42001 certification.',
        icon: 'tabler:checklist',
      },
      {
        title: 'Advanced Analytics',
        description: 'Zero-instrumentation AI observability for Langfuse, Datadog, Axiom, and more.',
        icon: 'tabler:cell-signal-5',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-primary/5 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- CallToAction Widget *********** -->

  <CallToAction actions={[{ variant: 'primary', text: 'Request Demo', href: requestDemoUrl }]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-primary/5 dark:bg-transparent"></div>
    </Fragment>

    <Fragment slot="title">Accelerate Your AI Workloads</Fragment>
  </CallToAction>
</Layout>
