---
import { Image } from 'astro:assets';

import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Typewriter from '~/components/widgets/Typewriter.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import heroImage from '../assets/images/hero.svg';
import resourceGraph from '../assets/images/resource-graph-3-2.svg';
import { requestDemoUrl } from '~/navigation';

const metadata = { title: 'Archodex — The Control Plane for AI', ignoreTitleTemplate: true };

const annoyances = ['Blocking', 'Pestering', 'Proxying', 'Hounding', 'Annoying'];

const enablements = ['Enabling', 'Accelerating', 'Empowering', 'Fueling'];
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    title="A Central Control Plane for AI"
    subtitle="Protection and governance for AI assistants and workloads."
    image={{
      src: resourceGraph,
      alt: 'Graph of AI workloads and services and resources they interact with',
      height: 400,
      fetchPriority: 'high',
    }}
    actions={[{ text: 'Request Demo', href: requestDemoUrl }]}
  />

  <!-- Problem Section *************** -->

  <Steps
    id="problem"
    title="Protect LLM and Agentic Activity"
    items={[
      {
        title: 'Install / Deploy Archodex',
        description:
          'Archodex uses Zero-Instrumentation approaches. No network proxies. No configuration or code changes. No breakage.',
        icon: 'tabler:subtitles-ai',
      },
      {
        title: 'Protect All AI Network Activity',
        description:
          'Archodex secures both external and internal traffic, prevent data exfiltration and unauthorized access.',
        icon: 'tabler:settings-ai',
      },
      {
        title: 'Complete Coverage',
        description:
          'Automatically protects all AI running on the host OS, inside devcontainers, and your server environments.',
        icon: 'tabler:world-check',
      },
    ]}
    classes={{ container: 'max-w-3xl', items: { icon: 'text-secondary border-secondary' } }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-primary/5 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <!-- Solution Section *************** -->

  <Hero>
    <Fragment slot="content">
      <div class="overlay py-10 md:py-0 md:min-h-[400px]">
        <div class="md:top-[50%] md:translate-y-[-50%] text-left text-5xl/14 font-semibold md:absolute z-10">
          Stop
          <span class="text-primary highlight">
            <Typewriter words={annoyances} duration={3} />
          </span>
          <br />
          Start
          <span class="text-secondary highlight">
            <Typewriter words={enablements} duration={3} />
          </span>
          <br />
          AI Teams
        </div>

        <div class="hidden md:block">
          <Image src={heroImage} alt="A graph of calls out to various AI services" class="w-full" />
        </div>
      </div>
    </Fragment>
  </Hero>

  <!-- CallToAction Widget *********** -->

  <CallToAction actions={[{ variant: 'primary', text: 'Request Demo', href: requestDemoUrl }]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-primary/5 dark:bg-transparent"></div>
    </Fragment>

    <Fragment slot="title">Protect Your AI Usage</Fragment>
  </CallToAction>
</Layout>
