---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import { getStartedUrl } from '~/navigation';

const metadata = { title: 'Pricing' };
---

<Layout metadata={metadata}>
  <HeroText title="DevSecOps Tranquility is Here" subtitle="Archodex is free for most teams" />

  <Prices
    id="plans"
    prices={[
      {
        title: 'Team',
        subtitle: 'For individuals and small teams',
        price: 'Free',
        items: [
          { description: 'Observe up to 1,000 API calls per hour' },
          { description: 'Track up to 500 resources' },
          { description: 'Managed archodex.com accounts' },
          { description: 'Self-hosted options' },
          { description: 'Log-only (air-gap-compatible) agent modes' },
          { description: 'Choice of data locality / sovereignty' },
          { description: 'MFA / Passkey authentication' },
          { description: 'Community support' },
        ],
        callToAction: { variant: 'primary', text: 'Get started', href: getStartedUrl },
      },
      {
        title: 'Organization',
        subtitle: 'For organizations and customers with additional requirements',
        price: 'Contact Us',
        items: [
          { description: 'All Free-tier features' },
          { description: 'Observe unlimited API calls' },
          { description: 'Track unlimited resources' },
          { description: 'SSO / SAML authentication' },
          { description: 'Managed Bring-Your-Own-Cloud (BYOC) options' },
          { description: 'Air-gapped Archodex service installations' },
          { description: 'Customized support and services' },
        ],
        callToAction: { variant: 'primary', text: 'Contact Us', href: '/contact/custom-pricing' },
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Features"
    columns={2}
    items={[
      {
        title: 'Observed API Calls',
        description:
          'Archodex observes your workloads as they use secrets in API calls. Our plans provide generous limits on observed API calls per hour.',
        icon: 'tabler:device-desktop-analytics',
      },
      {
        title: 'Tracked Resources',
        description:
          'Archodex aggregates resources into a unified graph database for analysis to locate issues and help you safely manage your secrets.',
        icon: 'tabler:social',
      },
      {
        title: 'Managed archodex.com accounts',
        description:
          'Using secure archodex.com managed accounts is the easiest way to get started with Archodex. Choose from many data locality options hosted in customer-specific isolated databases.',
        icon: 'tabler:cloud-computing',
      },
      {
        title: 'Self-hosted options',
        description:
          'Control over your data sovereignty with a self-hosted Archodex deployment, giving you full ownership and management capabilities.',
        icon: 'tabler:server-2',
      },
      {
        title: 'Log-only / air-gapped modes',
        description:
          'Whether you just want to safely kick the tires or you have complex requirements, Archodex can be used securely with or without networking.',
        icon: 'tabler:network-off',
      },
      {
        title: 'Support',
        description:
          "Our goal is to reduce your operations stress. We're here to help, through our community support up to customized channels and availability.",
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <WidgetWrapper id="faq" containerClass="max-w-4xl mx-auto">
    <Headline title="Pricing FAQs" />

    <details>
      <summary>What is an Observed API Call?</summary>

      <p>
        One important way Archodex observes secrets usage is by watching the requests your workloads make at runtime.
        For example, a Container of a Kubernetes Pod may make a request to Stripe's API to charge a customer for a
        purchase. When it does so, the container includes a Stripe API key in the request headers. Archodex observes
        this request, recording that the Stripe API key secret was used by the Container.
      </p>

      <p>
        The Archodex Agent only observes API calls that match filters for the Rulesets you configure it to watch. If you
        don't configure any Rulesets to watch for Stripe requests, then Stripe requests will not be observed and will
        not count against your usage limit.
      </p>

      <p>
        Archodex usage limits apply across all workloads. You might have a mix of workloads where some make more
        observed API calls than others. Usage across workloads is metered, and the Archodex Agent will stop observing
        API calls when the limit is reached until the next hour of usage begins. The Archodex Agent logs and Dashboard
        will notify you if this occurs.
      </p>

      <p>
        <b>Note for individuals and small teams:</b> Our intention is to make Archodex free for your usage. If you hit limits
        on the free-tier, then please reach out to us at <a href="mailto:support@archodex.com">support@archodex.com</a>.
      </p>
    </details>

    <details>
      <summary>What is a Tracked Resource?</summary>

      <p>
        A Tracked Resource is any unique resource that Archodex observes and tracks in its graph database. This includes
        resources like Kubernetes Clusters, Services, and Deployments, Hashicorp Vault Secrets, and Stripe API Keys.
      </p>

      <p>
        Your total count of Tracked Resources includes all of the unique resources that Archodex has observed across all
        of your workloads. The Archodex Agent logs and Dashboard will notify you if you exceed this usage limit. The
        Archodex service will silently discard newly observed resources while your account is above the limit, though it
        will still update metadata about previously observed resources.
      </p>

      <p>
        <b>Note for individuals and small teams:</b> Our intention is to make Archodex free for your usage. If you hit limits
        on the free-tier, then please reach out to us at <a href="mailto:support@archodex.com">support@archodex.com</a>.
      </p>
    </details>

    <details>
      <summary>What is the Log-only Agent mode?</summary>

      <p>
        The Log-only Agent mode is a deployment option for the Archodex Agent that observes and logs API calls without
        reporting them to a central Archodex backend service. This mode is useful when you are trying out Archodex for
        the first time and want to be absolutely sure no confidential data leaves your environment. It is also the
        default mode if you do not provide an Archodex Report API Key, ensuring you are in full control of your
        confidential data.
      </p>

      <p>
        The Log-only Agent mode is also useful when you would prefer to perform your own analysis of observed secrets
        usage. For example, instead of using a managed or self-hosted Archodex service, you may want to ingest the logs
        into your existing devsecops ETL pipeline for further processing and analysis.
      </p>
    </details>

    <details>
      <summary>What does it mean to Self-Host Archodex?</summary>

      <p>
        Self-hosting Archodex means deploying and managing the Archodex backend API software on your own infrastructure,
        rather than using the managed service provided at archodex.com. This gives you full control over your data and
        how service is accessed. You can run Archodex in your own data center or in a cloud environment of your choice.
      </p>

      <p>
        Most choose to self-host the backend API service alone, using the managed archodex.com dashboard and
        authentication system to access it. It is possible to self-host the dashboard as well if necessary for complex
        requirements and/or regulations.
      </p>

      <p>
        Self-hosting the Archodex backend API is straightforward. There is no additional cost to self-host, and images
        to run the backend API service are published in the GitHub Container Repository. You simply run the backend API
        container and configure a connection to a SurrealDB database.
      </p>
    </details>

    <details>
      <summary>What is Community Support?</summary>

      <p>
        Community Support is the support provided through our <a
          href="https://github.com/orgs/Archodex/discussions"
          rel="noopener noreferrer">GitHub Discussions</a
        > and <a href="https://matrix.to/#/#archodex:matrix.org" rel="noopener noreferrer">Matrix Chat Room</a>. We
        monitor and respond to questions and issues raised in these community forums for all free-tier options,
        including both managed and self-hosted deployments.
      </p>
    </details>
  </WidgetWrapper>
</Layout>
