@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import './theme.css';

/* Allow content to take full width of page. */
html {
  --sl-content-width: 100%;
  --sl-sidebar-width: 20rem;
  --sl-color-hairline: var(--sl-color-accent);

  *:focus-visible {
    @apply outline-primary outline-2 outline-solid -outline-offset-2;
  }

  button:hover {
    @apply border-primary;
  }

  .right-sidebar-container {
    @apply mr-5;

    .right-sidebar {
      @apply w-[inherit];

      .sl-container {
        @apply w-[inherit] max-w-[inherit];
      }
    }
  }

  .sl-link-card,
  .sl-link-card:hover {
    @apply border-primary;

    .icon {
      @apply text-primary;
    }
  }
}

html[data-theme='dark'] {
  --sl-color-black: black;
  --sl-color-bg: black;
  --sl-color-bg-nav: black;
  --sl-color-bg-sidebar: black;

  starlight-menu-button > button {
    @apply bg-black text-white;
  }

  starlight-menu-button[aria-expanded='true'] > button {
    @apply bg-black;
  }

  .sidebar-pane a:where([aria-current='page']) {
    @apply bg-primary text-white;
  }

  site-search > dialog {
    @apply bg-black;
  }
}

html[data-theme='light'] {
  --sl-color-bg: white;
  --sl-color-bg-nav: white;

  site-search > dialog {
    @apply bg-white;
  }
}

starlight-menu-button > button {
  @apply shadow-none;
}

header.header {
  @apply border-none;
}

.sidebar-pane,
.right-sidebar,
.social-icons::after,
main > * {
  @apply border-none;
}
