@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import './theme.css';

/* Allow content to take full width of page. */
html {
  --sl-content-width: 100%;
  --sl-sidebar-width: 20rem;
  --sl-color-text: black;
  --sl-color-hairline: var(--sl-color-accent);

  *:focus-visible {
    @apply outline-primary outline-2 outline-solid -outline-offset-2;
  }

  button:hover {
    @apply border-primary;
  }

  .right-sidebar-container {
    @apply mr-5;

    .right-sidebar {
      @apply w-[inherit];

      .sl-container {
        @apply w-[inherit] max-w-[inherit];
      }
    }
  }

  .sl-link-card,
  .sl-link-card:hover {
    @apply border-primary;

    .icon {
      @apply text-primary;
    }
  }
}

:root[data-theme='dark'] {
  --dark-base: var(--color-neutral-900);
  --dark-elevated: var(--color-neutral-800);
  --dark-muted: var(--color-neutral-700);

  --sl-color-black: var(--dark-base);
  --sl-color-text: var(--color-neutral-200);
  --sl-color-bg: var(--dark-base);
  --sl-color-bg-nav: var(--dark-elevated);
  --sl-color-bg-sidebar: var(--dark-base);
  --sl-color-text-accent: var(--color-primary);
}

:root[data-theme='dark'] starlight-menu-button > button {
  background-color: var(--dark-base);
  color: var(--color-neutral-200);
}

:root[data-theme='dark'] starlight-menu-button[aria-expanded='true'] > button {
  background-color: var(--dark-base);
}

:root[data-theme='dark'] .sidebar-pane a:where([aria-current='page']) {
  @apply bg-primary;
  color: white;
}

:root[data-theme='dark'] site-search > dialog {
  background-color: var(--dark-muted);
}

:root[data-theme='light'] {
  --sl-color-bg: white;
  --sl-color-bg-nav: white;
}

:root[data-theme='light'] site-search > dialog {
  @apply bg-white;
}

starlight-menu-button > button {
  @apply shadow-none;
}

header.header {
  @apply border-none;
}

.sidebar-pane,
.right-sidebar,
.social-icons::after,
main > * {
  @apply border-none;
}

p a,
span a {
  color: var(--sl-color-text-accent);
  text-decoration: none;
}

p a:hover,
span a:hover {
  text-decoration: underline;
}

/* Add horizontal rule under page titles */
.sl-container > h1#_top {
  @apply pb-1 border-b border-b-primary;
}
